/* * * MEDIAQUERIES * * */

$break-small: 375px;
$break-medium: 750px;
$break-large: 1024px;


/* * * COLORES * * */
$azul-mupin: #0556AF;
$white: #fff;
$grafito_mupin: #424242;
$grafito_mupin_dark: #252525;
$purple: #9b41e1;

/*** FAMILIA TIPOGRAFICA ***/
$primary-typo: 'Roboto', sans-serif;
